<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>登陆页面</title>
<link rel="stylesheet" href="../../Content/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../Content/css/font-awesome.min.css" />
<link rel="stylesheet" href="../../Content/css/mycss.css" />
</head>

<body class="bg-blue">

<div class="haed">
	<div class="logo pull-left hidden-xs"><a href="/"><img src="../../Content/images/logo.png"></a></div>
</div>

<div class="container ">
	
    <div class="row">
    	<div class="logo  text-center visible-xs-block"><a href="/"><img src="../../Content/images/logo.png"></a></div>
       <div class="signin ">
          	
            <h1 class="text-left hidden-xs">电子商务平台登陆</h1>
            <h1 class="text-center visible-xs-block">电子商务平台登陆</h1>
            <div class="form tool-bar ">
            	<form>
                	<div class=" margin-top-15">
                		<input type="text" placeholder="用户名" class="form-control">
                    </div>
                    <div class=" margin-top-15">
                    	<input type="password" placeholder="密码" class="form-control">
                    </div>
                    <div class="  margin-top-15 text-center">
                        <div class="form-group">
                            <div class="checkbox ">
                                <label>
                                    <input type="checkbox"> 记住登陆
                                </label>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary  col-sm-4 col-sm-offset-4">登 陆</a>
                    </div>
                </form>
            </div>
       </div>
    </div>
</div>

</body>
</html>
