@model MyResponseBase

@{
    Layout = null;
    ViewBag.Title = Model.FunNameCn;

    var disabled = "";
    if (Model.FunNameEn == "Detail")
    {
        disabled = "disabled='disabled'";
    }
    //var posturl = "AuthorizationAreas/Pre_Role/Edit";
    //if (Model.FunNameEn == "Add")
    //{
    //    posturl = "AuthorizationAreas/Pre_Role/Add";
    //}

    //var conts = ViewContext.Controller as BaseController;

    //conts.Breadcrumb.Items.Clear();
    //conts.Breadcrumb.Items = new List<BreadcrumbItem>
    //{
    //    new BreadcrumbItem{Name="权限管理",URL=""},
    //    new BreadcrumbItem{Name="角色管理",URL="Index"}
    //};
}

<div class="col-md-12 padding20">
    <div class="panel panel-primary">
        <div class="panel-heading"><span class="glyphicon glyphicon-tree-conifer"></span>权限</div>
        <div class="panel-body fixed-height setText-horizontal">
            @Html.PermAssignTable("Sys_PermSetID", Model.Items, "form-control", disabled)
        </div>
    </div>
</div>
