@model MyResponseBase

@{
    Layout = null;// "~/Views/Shared/_Layout.cshtml";

    ////表单控件类型：1：文本框  2:标签  4：下拉列表框  8：Hidden  16:Radion  32:CheckBox
    //List<TextValue> FormEleTypes = new List<TextValue>
    //{ 
    //    new TextValue{Text="文本框",Value="1"},
    //    new TextValue{Text="标签",Value="2"},
    //    new TextValue{Text="下拉",Value="4"},
    //    new TextValue{Text="隐藏",Value="8"},

    //    new TextValue{Text="单选",Value="16"},
    //    new TextValue{Text="复选框",Value="32"}
    //};
    List<SoftProjectAreaEntity> Design_ModularOrFuns = new List<SoftProjectAreaEntity> { 
        new SoftProjectAreaEntity{PageFormEleTypeName="FormEleType",ModularName="列表页"},
        new SoftProjectAreaEntity{PageFormEleTypeName="Page2FormEleType",ModularName="添加编辑页"},
        new SoftProjectAreaEntity{PageFormEleTypeName="Page4FormEleType",ModularName="查看页"},
    };
}

<div class="container-fluid childTableSelect">
    <div class='operArea' data-searchmethod='' data-url="">
        <div class="search-bar">
            <div class="tool-bar search-bar">
                <div class="col-sm-2">
                    <a href='javascript:void(0);' data-tableid="#tbList" class='btn btn-success  btn-FwPopup'
                        data-popupurl="/SysAreas/Design_ModularField/Popup"
                        data-popupaddrepeat="0"
                        data-targeturl="/SysAreas/Design_ModularPageField/Rows"
                        data-pkname="Design_ModularFieldID"
                        data-refdataarea=".mastEditArea"><span class="glyphicon glyphicon-plus"></span>添加字段</a>
                </div>
                <div class="col-sm-10 text-right form-inline" id="SearchArea">
                </div>
            </div>
        </div>
        <div class="scrollBar scrollBarAuto" style="width: 100%;" data-width="2000">
            <div class="mylist container-fluid container" style="width: 100%;">
                <table id='tbList' class=" table table-bordered table-hover table-striped FwtabletoTab" style="width: 100%"
                    data-tabdirection="ver"
                    data-deletefun="2">
                    @*                        <div class="scrollBar scrollBarAuto" style="width: 1800px;" data-width="1800">
                            <div class="mylist container-fluid container" style="width: %;">
                                <table id='tbList' class="table table-bordered table-hover table-striped " style="width: 100%;">*@
                    <thead data-namecn="字段名">
                        <tr>
                            <th class="lockhead" style="width: 50px">序号 </th>
                            <th class="lockhead" style="width: 50px">操作 </th>

                            <th class="lockhead" style="width: 60px;">排序</th>
                            <th class="lockhead" style="width: 100px;">字段位置</th>
                            <th class="lockhead">字段名</th>
                            <th class="lockhead">字段名CN</th>
                            @for (int m = 0; m < Design_ModularOrFuns.Count; m++)
                            {
                                <th class="lockhead">@Design_ModularOrFuns[m].ModularName</th>
                            }
                            <th class="lockhead">回车垂直移动</th>

                            <th class="lockhead">列计算</th>
                            <th class="lockhead">行计算</th>
                            <th class="lockhead">编辑区域名</th>
                        </tr>
                    </thead>
                    <tbody data-collsname="Design_ModularPageFields" data-design_modularfieldid="Design_ModularFieldID"
                        data-design_modularpagefieldid="Design_ModularPageFieldID">
                        @Html.Partial("Rows", Model)
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 分页 -->
        <div class="page-bar">
        </div>
    </div>
</div>
