@model MyResponseBase<Pre_RolesView>

@{
                //ViewBag.Title = "";
                //Layout = null;
}
<div id='DeletePPre_Roles'>
    <table>
        <input type='hidden' id="Item_Pre_RolesID" name='Item.Pre_RolesID' />
        <tr>
            <td>角色名称</td>
            <td>@Model.Item.RoleName /></td>
        </tr>

    </table>
</div>
