@model MyResponseBase

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div id='editP' class="operArea">
    <div>
        @*@Html.Navigation(Model.ModularOrFunCode)*@
        <ul class="breadcrumb myjuxing">
            <li><span class="icon-home"></span><a href="/">首页</a></li>
            <li>设计管理</li>
            @*//Design_ModularOrFun/EditList?Item.Design_ModularOrFunID=1052
            http://localhost:54001/SysAreas/Design_ModularOrFunBtnControll/EditListFun?Item.Design_ModularOrFunBtnID=149&Item.Design_ModularOrFunID=113&Item.Design_ModularOrFunParentID=107
            *@
            <li><a href="/SysAreas/Design_ModularOrFun/EditList?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunParentID">子功能配置</a></li>
            @*                        //SysAreas/Design_ModularOrFunBtn/EditList?Item.Design_ModularOrFunParentID=1052&Item.Design_ModularOrFunID=1053*@
            <li><a href="/SysAreas/Design_ModularOrFunBtn/EditList?Item.Design_ModularOrFunParentID=@Model.Item.Design_ModularOrFunParentID&Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID">按钮配置</a></li>
            <li>按钮控制器</li>
        </ul>
    </div>
    @*    <ul class="nav nav-tabs mybottabs">
        @if (Model.Disabled == "")
        {
            <li><a href="/SysAreas/Design_ModularOrFun/Edit?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID">基本配置</a></li>
            <li><a href="/SysAreas/Design_ModularField/EditList?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID" >模块字段</a></li>
            <!--页面字段管理、页面查询条件字段管理(列表页)-->
            <li><a href="/SysAreas/Design_ModularPage/Index?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID" >页面管理</a></li>
            <li><a href="/SysAreas/Design_ModularOrFunBtn/EditList?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID" >模块按钮</a></li>
            <li class="active"><a href="/SysAreas/Design_ModularOrFunBtnControll/EditList?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID" >控制器</a></li>                        

            <li><a href="/SysAreas/Design_ModularOrFunBtnControllControll/?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID" >按钮控制器</a></li>                        
            <li><a href="/SysAreas/Design_ModularOrFunDomain/?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID" >业务逻辑</a></li>
            <li><a href="/SysAreas/Design_ModularOrFunDomainDetail/?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID" >业务步骤</a></li>

        }
    </ul>*@
    <div class='mastEditArea editArea  '>
        <form>
            <div class="container-fluid margin-top-15">
                <div class='form-horizontal merge targetdom'>
                    <input type='hidden' id='Item_Design_ModularOrFunParentID' name='Item.Design_ModularOrFunParentID' value='@Model.Item.Design_ModularOrFunParentID' />
                    <input type='hidden' id='Item_Design_ModularOrFunID' name='Item.Design_ModularOrFunID' value='@Model.Item.Design_ModularOrFunID' />
                    <input type='hidden' id='Item_Design_ModularOrFunBtnID' name='Item.Design_ModularOrFunBtnID' value='@Model.Item.Design_ModularOrFunBtnID' />
                    按钮名称(中文)：【@Model.Item.BtnNameCn】

                    位置：【@Model.Item.OperPos】
                </div>
            </div>
        </form>
    </div>
    <div class="container-fluid childTableSelect">
        <div class='operArea' data-searchmethod='' data-url="">
            <div class="search-bar">
                <div class="tool-bar search-bar">
                    <div class="col-sm-2">
                        <a href='javascript:void(0);' data-tableid="#tbList" class='btn btn-success  btn-FwPopup'
                            data-popupurl="/SysAreas/Design_ModularOrFunControll/Popup"
                            data-popupaddrepeat="0"
                            data-targeturl="/SysAreas/Design_ModularOrFunBtnControll/Rows"
                            data-pkname="Design_ModularOrFunControllID"
                            data-paramname="Design_ModularOrFunControllID"
                            data-masteditarea=""
                            data-refdataarea=".mastEditArea"><span class="glyphicon glyphicon-plus"></span>添加控制器</a>

                        @*                        <a href='javascript:void(0);' data-tableid="#tbList" class='btn btn-success  btn-FwBtnSubmit'
                            data-posturl="/SysAreas/Design_ModularOrFunBtnControll/Row"
                            data-fun="10">
                            <span class="glyphicon glyphicon-plus"></span>添加控制器</a>*@
                    </div>
                    <div class="col-sm-10 text-right form-inline" id="SearchArea">
                    </div>
                </div>
            </div>
            <div style="clear: both; margin-bottom: 10px;"></div>
            <div class="scrollBar scrollBarAuto" style="width: 100%;" data-width="2000">
                <div class="mylist container-fluid container" style="width: 100%;">
                    <table id='tbList' class=" table table-bordered table-hover table-striped FwtabletoTab" style="width: 100%">

                        @*                        <div class="scrollBar scrollBarAuto" style="width: 1800px;" data-width="1800">
                            <div class="mylist container-fluid container" style="width: %;">
                                <table id='tbList' class="table table-bordered table-hover table-striped " style="width: 100%;">*@
                        <thead>
                            <tr>
                                <th class="lockhead" style="width: 60px;">序号 </th>
                                <th class="lockhead">操作 </th>
                                <th class="lockhead">排序 </th>
                                <th class="lockhead">控制器方法</th>
                            </tr>
                        </thead>
                        <tbody data-collsname="Design_ModularOrFunBtnControlls"
                            data-design_modularorfunbtncontrollid="Design_ModularOrFunBtnControllID"
                            data-design_modularorfuncontrollid="Design_ModularOrFunControllID">
                            @Html.Partial("Rows", Model)
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 分页 -->
            <div class="page-bar">
            </div>
        </div>
    </div>
    <div class='editArea'>
        <div class="container-fluid">
            <div class="form-footer1">
                <div class="text-right col-md-12">
                    <button class="btn  btn-primary btn-FwBtnSubmit"
                        data-targetdom=""
                        data-masteditarea=""
                        data-childtableselect=""
                        data-fun="300"
                        data-tableselect=""
                        data-pkname="Design_ModularOrFunBtnControllID"
                        data-posturl="/SysAreas/Design_ModularOrFunBtnControll/EditListSave"
                        data-targeturl="/SysAreas/Design_ModularOrFunBtnControll/EditListFun?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID&Item.Design_ModularOrFunBtnID=@Model.Item.Design_ModularOrFunBtnID&Item.Design_ModularOrFunParentID=@Model.Item.Design_ModularOrFunParentID"
                        data-targeturlparamname="">
                        保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
