<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../Content/css/page.index.css" />
	</head>
	<body>
		<!--页头-->
		<div class="header">
			<div class="head-paenl">
				<div class="logo-box">
					<img src="../../Content/images/weblogo.png"/>
				</div>
				<div class="title-box">
					<h3>香磨五谷云服务系统</h3>
				</div>
				<div class="top-nav">
					<ul>
						<li><a>登录</a></li>
						<li><a>我的积分</a></li>
						<li><a>我的钱包</a></li>
						<li><a>功能导航</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--内容-->
		<div class="content">
			<div class="nav-bar">
				<ul>
					<li><a class="gkgl">顾客管理</a></li>
					<li><a class="syhz">商业合作</a></li>
					<li><a class="gjxz">工具下载</a></li>
					<li><a class="yxkt">营销课堂</a></li>
					<li><a class="alfx">案例分析</a></li>
					<li><a class="tzjc">体质检测</a></li>
					<li><a class="ffts">服务投诉</a></li>
					<li class="last-child"><a class="myhz">盟友互助</a></li>
				</ul>
			</div>
			<div class="banner">
				<div class="module m-1">
					<h4>公司动态  -  XXXXXX</h4>
					<div class="bar">
						<a>拓展部营销会</a>丨<a>培训</a>丨<a>更多</a>
					</div>
				</div>
				<div class="module m-2">
					<h4>新品研发  -  乳清蛋白粉</h4>
					<div class="bar">
						<a>乳清蛋白粉  </a>丨<a>送花酵母粉  </a>丨<a>更多</a>
					</div>
				</div>
				<div class="module m-3">
					<h4>随时随地  -  购新品</h4>
					<div class="bar">
						<a>新手须知  </a>丨<a>业绩提升  </a>丨<a>更多</a>
					</div>
				</div>
			</div>
			<div class="c-box">
				<div class="left-section">
					<div class="input-box">
						<div><img src="../../Content/images/search-icon.png" /></div>
						<input type="text" />
						<div><img src="../../Content/images/people-icon.png" /></div>
					</div>
					<div class="jms-list">
						<ul>
							<li><a>XMWG_加盟商1</a></li>
							<li><a>XMWG_加盟商1</a></li>
							<li><a>XMWG_加盟商1</a></li>
							<li><a>XMWG_加盟商1</a></li>
							<li><a>XMWG_加盟商1</a></li>
							<li><a>XMWG_加盟商1</a></li>
							<li><a>XMWG_加盟商1</a></li>
							<li><a>XMWG_加盟商1</a></li>
							<li><a>XMWG_加盟商1</a></li>
							<li><a>XMWG_加盟商1</a></li>
							<li><a>XMWG_加盟商1</a></li>
							<li><a>XMWG_加盟商1</a></li>
							<li><a>XMWG_加盟商1</a></li>
							<li><a>XMWG_加盟商1</a></li>
							<li><a>XMWG_加盟商1</a></li>
							<li><a>XMWG_加盟商1</a></li>
							<li><a>XMWG_加盟商1</a></li>
					
							
						</ul>
					</div>
				</div>
				<div class="centre-section">
					<div class="chat-box">
						<div class="chat-box-content">
							<div class="tishi">暂时没有任何消息</div>
						</div>
						<div class="chat-box-foot">
							<div class="send-box">
								<div class="chat-toolbar">
									<a><img src="../../Content/images/chat_01.jpg" /></a>
									<a><img src="../../Content/images/chat_02.jpg" /></a>
									<a><img src="../../Content/images/chat_03.jpg" /></a>
									<a><img src="../../Content/images/chat_04.jpg" /></a>
									<a><img src="../../Content/images/chat_05.jpg" /></a>
								</div>
								<div class="chat-input">
									<input type="text" />
								</div>
							</div>
							<div class="send-btn">
								<a class="ltjl">聊天记录</a>
								<a class="btn">发送</a>
							</div>
						</div>
					</div>
				</div>
				<div class="right-section">
					<div class="search-box">
						<select>
							<option>综合</option>
						</select>
						<a class="btn">搜索</a>
					</div>
					<div class="f-menu">
						<ul>
							<li class="wydh"><a>我要订货</a></li>
							<li class="sqhd"><a>申请活动</a></li>
							<li class="cyws"><a>参与微商</a></li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--页脚-->
		<div class="footer">
			<div class="foot-panel">
				<div class="left-section">
					<h3>加盟热线：<em>400-813-1111</em></h3>
				</div>
				<div class="centre-section">
					<p>香磨五谷官方网站(www.xmwg.org) © 2015 版权所有 All Rights Reserved.</p>
					<p>企业邮箱：admin@xmwg.org　人力资源：hr@xmwg.org　投诉建议：advise@xmwg.org</p>
					<p>京ICP备13014594号</p>
					<p>网站统计sss</p>
				</div>
				<div class="right-section">
					<i class="weixin"></i>
					<i class="tianmao"></i>
					<i class="weibo"></i>
				</div>
			</div>
		</div>
	</body>
</html>
